/* style.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

.hidden {
  display: none;
}

/* MOBILE VERSION */

/* Content */

#content {
  background: url(tokyo.jpg);
  background-size: cover;
  position: absolute;
  height: 43.4pc;
  width: 100%;
}

#content::after {
  content: "";
  position: relative;
  display: block;
  height: 43.4pc;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin-top: -25pc;
}

.content {
  margin-top: 16pc;
  position: relative;
  z-index: 1;
}

.title-game {
  color: #c5c5c5;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
}

.tagline {
  font-family: "Poppins", sans-serif;
  color: #c5c5c5;
  font-size: 18px;
  margin-top: 10px;
  word-spacing: 2px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
}

.btn-play {
  background: rgba(97, 134, 148, 0.527);
  border: none;
  border-left: 2px solid rgba(199, 199, 199, 0.404);
  border-right: 2px solid rgba(199, 199, 199, 0.404);
  color: #c5c5c5;
  cursor: pointer;
  height: 40px;
  width: 15pc;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-play:hover {
  background: rgba(83, 100, 107, 0.527);
  color: white;
}

/* lobby.html */

/* Navbar */

#main {
  background: url(https://i.pinimg.com/originals/04/2d/1f/042d1f0f6041c45c706021219c325499.gif);
  position: absolute;
  background-size: cover;
  height: 43pc;
  width: 100%;
}

#main::after {
  content: "";
  display: block;
  height: 43pc;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  margin-top: -45px;
}

.navbar {
  display: none;
}

.navbar-ml {
  display: block;
  margin-top: 35pc;
  margin-bottom: -37.5pc;
  position: relative;
  z-index: 1;
}

.btn-main-ml {
  background: rgba(97, 134, 148, 0.527);
  border: none;
  border-left: 2px solid rgba(199, 199, 199, 0.404);
  border-right: 2px solid rgba(199, 199, 199, 0.404);
  color: #c5c5c5;
  font-size: 15px;
  cursor: pointer;
  height: 40px;
  width: 20pc;
}

.btn-main-ml:hover {
  background: rgba(83, 100, 107, 0.527);
}

.btn-kembali-ml {
  background: rgba(97, 134, 148, 0.527);
  border: none;
  border-left: 2px solid rgba(199, 199, 199, 0.404);
  border-right: 2px solid rgba(199, 199, 199, 0.404);
  color: #c5c5c5;
  font-size: 15px;
  cursor: pointer;
  height: 40px;
  width: 20pc;
}

.btn-kembali-ml:hover {
  background: rgba(83, 100, 107, 0.527);
}

.btn-info-ml {
  position: absolute;
  z-index: 1;
  display: block;
  margin-left: 90%;
  margin-top: 8px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  background: transparent;
  color: rgb(170, 170, 170);
}

.btn-info-ml:hover {
  color: whitesmoke;
}

.v {
  margin-right: 9pc;
}

.games-title {
  position: relative;
  z-index: 1;
  margin-top: 13pc;
}

.title-game2::after {
  content: "KNTL - The Game";
  color: #c5c5c5;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
}

.tagline2::after {
  content: "GWS Buat yang menang :)";
  font-family: "Poppins", sans-serif;
  color: #c5c5c5;
  font-size: 18px;
  margin-top: 10px;
  word-spacing: 2px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
}

/* Game Category */

#games-cate-ml {
  margin-top: 15.4pc;
}

.gc {
  position: relative;
  z-index: 1;
  margin-top: 2pc;
  display: none;
}

.title-cate {
  color: rgb(170, 170, 170);
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-left: 20px;
}

/* This Game */

.btn-next-prev {
  width: 20pc;
  position: absolute;
  margin-top: -22px;
}

.btn-next {
  margin-left: 13pc;
  background: transparent;
  cursor: pointer;
  border: none;
  color: rgb(170, 170, 170);
}

.btn-next:hover {
  color: whitesmoke;
}

.btn-previous {
  background: transparent;
  cursor: pointer;
  border: none;
  color: rgb(170, 170, 170);
}

.btn-previous:hover {
  color: whitesmoke;
}

.btn {
  margin-top: -5px;
  margin-left: 22%;
  position: absolute;
}

.btn-play-this-game {
  background: rgba(97, 134, 148, 0.527);
  border: none;
  border-left: 2px solid rgba(199, 199, 199, 0.404);
  border-right: 2px solid rgba(199, 199, 199, 0.404);
  cursor: pointer;
  color: #c5c5c5;
  height: 23px;
  width: 180px;
}

.btn-play-this-game:hover {
  background: rgba(83, 100, 107, 0.527);
}

/* Info Permainan Pilihan Ganda */

#tebak-tebakan {
  position: relative;
  margin-top: -48pc;
  margin-bottom: -24.2pc;
  width: 20pc;
}

#tebak-tebakan img {
  margin-top: -20px;
}

.mt {
  margin-top: 40px;
}

.me {
  margin-right: 20px;
}

.dsc-mv {
  width: 18pc;
  text-align: left;
  float: right;
  margin-top: 10px;
}

.deskripsi-ganda::after {
  content: "Pemain akan diberikan 20 soal pilihan ganda, dan kalau bisa diisi dengan benar dan tepat. Anda tidak akan mendapatkan apa-apa, hanya dapat skor yang tinggi.";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  color: #c5c5c5;
  font-family: "Questrial", sans-serif;
  font-weight: normal;
}

/* Info Permainan Pukul Tikus Tanah */

#tikus-tanah {
  position: relative;
  margin-top: -48pc;
  margin-bottom: -24.2pc;
  width: 20pc;
}

#tikus-tanah img {
  margin-top: -20px;
}

.deskripsi-tikus::after {
  content: "Pemain disuruh untuk memukul tikus-tikus yang keluar dari dalam tanah. Dapatkan skor tertinggi!";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  color: #c5c5c5;
  font-family: "Questrial", sans-serif;
  font-weight: normal;
}

/* Info Permainan Ular Kelaparan dan Kesepian */

#ular-kesepian {
  position: relative;
  margin-top: -48pc;
  margin-bottom: -24.2pc;
  width: 20pc;
}

#ular-kesepian img {
  margin-top: -20px;
}

.deskripsi-ular::after {
  content: "Pemain disuruh untuk mengendalikan ular yang sedang kelaparan itu. Udah kepalaran jomblo lagi~";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  color: #c5c5c5;
  font-family: "Questrial", sans-serif;
  font-weight: normal;
}

/* Tebak-tebakan */

#tebak-bg {
  background: url(bgTebak2anMobileVer.jpg);
  background-size: cover;
  width: 100%;
}

/* Setting */

#setting {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
}

#setting2 {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
}

.setting {
  background: whitesmoke;
  height: 20pc;
  margin: auto;
  margin-top: 10pc;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  width: 30pc;
  text-align: center;
}

/* Audio */

.title-audio-set::after {
  content: "Audio Setting";
  font-size: 29px;
  font-family: "Inconsolata", sans-serif;
  margin-top: 10px;
}

.bar-set {
  width: 20%;
  margin-top: 7px;
}

.button-back-control {
  margin-top: -40px;
  text-align: right;
}

.btn-back-set {
  margin-right: 20px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #626262;
}

.btn-back-set:hover {
  color: black;
}

.button-audio-control {
  margin-top: 30px;
}

.btn-music {
  background: #8b0000;
  border: none;
  height: 40px;
  width: 20pc;
  border-radius: 5px;
  cursor: pointer;
  color: #c5c5c5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.btn-music:hover {
  background: #5b0000;
  box-shadow: none;
  color: white;
}

/* Theme */

.theme {
  margin-top: 40px;
}

.title-theme-set::after {
  content: "Theme Setting";
  font-size: 29px;
  font-family: "Inconsolata", sans-serif;
  margin-top: 10px;
}

/* Content */

#button-open-the-pause-menu {
  text-align: center;
  margin-top: 10px;
}

.btn-open-pause-menu {
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 2px;
  height: 40px;
  width: 10pc;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.btn-open-pause-menu:hover {
  background: rgba(179, 179, 179, 0.5);
}

/* Games Area */

#games-area {
  text-align: center;
  margin-top: 3.5pc;
}

.quest-w {
  margin: auto;
  width: 40pc;
}

.quest {
  font-family: "Didact Gothic", sans-serif;
}

.radio-answers {
  margin-top: 4pc;
  text-align: left;
}

.inplab {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 3pc;
}

.in {
  line-height: 50px;
}

.inr {
  text-align: center;
  width: 50px;
}

.inl {
  margin-top: -50px;
}

.btn-next-quest {
  background: green;
  border: none;
  color: #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 40pc;
  font-size: 20px;
}

.btn-next-quest:hover {
  background: darkgreen;
}

/* Box */

.box-1 {
  background: rgba(165, 165, 165, 0.4);
  margin: auto;
  height: 50px;
  width: 40pc;
}

.box-2 {
  background: rgba(165, 165, 165, 0.4);
  margin: auto;
  height: 50px;
  width: 40pc;
}

.box-3 {
  background: rgba(165, 165, 165, 0.4);
  margin: auto;
  height: 50px;
  width: 40pc;
}

.box-4 {
  background: rgba(165, 165, 165, 0.4);
  margin: auto;
  height: 50px;
  width: 40pc;
}

/* Pause Menu */

#pause-menu {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
}

.pause-menu {
  margin: auto;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  height: 16.5pc;
  width: 25pc;
  margin-top: 11pc;
  text-align: center;
}

.title-pause::after {
  content: "Pause Menu";
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
}

.bar-pause {
  width: 30%;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.o {
  width: 10pc;
  margin: auto;
}

.icons-pause {
  font-size: 20px;
}

.info-menu {
  font-size: 20px;
  margin-left: 10px;
}

/* Menu */

.menu {
  margin-top: 1.5pc;
}

.btn-select {
  background: transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 20pc;
}

.btn-select:hover {
  background: lightgray;
}

/* footer */

footer {
  margin-left: 0;
  margin-top: -17pc;
  position: relative;
  width: 20pc;
  z-index: 1;
}

.c {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: rgb(170, 170, 170);
  font-family: "Inconsolata", sans-serif;
  text-align: center;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
  /* index.html */

  /* Content */

  #content {
    background: url(tokyo.jpg);
    background-size: cover;
    position: absolute;
    height: 43.4pc;
    width: 100%;
  }

  #content::after {
    content: "";
    position: relative;
    display: block;
    height: 43.4pc;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-top: -25pc;
  }

  .content {
    margin-top: 16pc;
    position: relative;
    z-index: 1;
  }

  .title-game {
    color: #c5c5c5;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  }

  .tagline {
    font-family: "Poppins", sans-serif;
    color: #c5c5c5;
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 2px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  }

  .btn-play {
    background: rgba(97, 134, 148, 0.527);
    border: none;
    border-left: 2px solid rgba(199, 199, 199, 0.404);
    border-right: 2px solid rgba(199, 199, 199, 0.404);
    color: #c5c5c5;
    cursor: pointer;
    height: 40px;
    width: 15pc;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
  }

  .btn-play:hover {
    background: rgba(83, 100, 107, 0.527);
    color: white;
  }

  /* lobby.html */

  /* Navbar */

  #main {
    background: url(https://i.pinimg.com/originals/04/2d/1f/042d1f0f6041c45c706021219c325499.gif);
    position: absolute;
    background-size: cover;
    height: 43.5pc;
    width: 100%;
  }

  #main::after {
    content: "";
    display: block;
    height: 43.5pc;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    margin-top: -42pc;
  }

  .btn-info-ml {
    display: none;
  }

  .navbar {
    display: block;
    border-bottom: 1px solid rgb(202, 202, 202);
    position: relative;
    z-index: 1;
    margin-top: -5px;
    height: 40px;
    width: 30pc;
  }

  .navbar-ml {
    display: none;
  }

  .play-the-game {
    line-height: 40px;
    margin-left: 6.9pc;
  }

  .btn-main {
    background: transparent;
    color: rgb(121, 121, 121);
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  }

  .btn-main:hover {
    color: lightgray;
    text-shadow: 0 0 10px rgba(255, 253, 107, 0.5);
  }

  .btn-kembali {
    background: transparent;
    color: rgb(121, 121, 121);
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
  }

  .btn-kembali:hover {
    color: lightgray;
    text-shadow: 0 0 10px rgba(255, 253, 107, 0.5);
  }

  .navigate-left {
    margin-top: -40.5px;
    margin-right: 6.9pc;
    line-height: 40px;
  }

  .btn-info {
    background: transparent;
    border: none;
    color: rgb(121, 121, 121);
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    font-weight: bold;
  }

  .btn-info:hover {
    color: lightgray;
    text-shadow: rgba(255, 253, 107, 0.5);
  }

  .btn-back-inf {
    background: transparent;
    border: none;
    color: rgb(121, 121, 121);
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    font-weight: bold;
  }

  .btn-back-inf:hover {
    color: lightgray;
    text-shadow: rgba(255, 253, 107, 0.5);
  }

  .v {
    margin-right: 9pc;
  }

  .games-title {
    position: relative;
    z-index: 1;
    margin-top: 13pc;
  }

  .title-game2::after {
    content: "KNTL - The Game";
    color: #c5c5c5;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  }

  .tagline2::after {
    content: "GWS Buat yang menang :)";
    font-family: "Poppins", sans-serif;
    color: #c5c5c5;
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 2px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  }

  /* Game Category */

  .gc {
    position: relative;
    z-index: 1;
    margin-top: 2pc;
  }

  .title-cate {
    color: rgb(170, 170, 170);
    font-family: "Lato", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
  }

  /* This Game */

  /* Button Games Selected Unactivated */

  .btn-mge {
    margin-right: 20px;
    background: transparent;
    border: none;
    color: rgba(170, 170, 170);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }

  .btn-mge:hover {
    color: whitesmoke;
  }

  .btn-ptt {
    background: transparent;
    border: none;
    color: rgba(170, 170, 170);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }

  .btn-ptt:hover {
    color: whitesmoke;
  }

  .btn-ukk {
    margin-left: 20px;
    background: transparent;
    border: none;
    color: rgba(170, 170, 170);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }

  .btn-ukk:hover {
    color: whitesmoke;
  }

  /* Button Games Selected Activated */

  .btn-mge-active {
    margin-right: 20px;
    background: transparent;
    border: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
  }

  .btn-ptt-active {
    background: transparent;
    border: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
  }

  .btn-ukk-active {
    margin-left: 20px;
    background: transparent;
    border: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
  }

  #no-game-selected {
    margin-top: 9.4pc;
  }

  .this-text::after {
    content: "Belum ada permainan yang dipiilih";
    margin-left: 10px;
    color: rgb(104, 104, 104);
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Inconsolata", sans-serif;
  }

  /* Info Permainan Pilihan Ganda */

  #pilihan-ganda {
    position: relative;
    margin-top: 4pc;
    margin-bottom: -5.5pc;
    width: 42pc;
  }

  #pilihan-ganda img {
    float: left;
  }

  .dsc {
    width: 30pc;
    text-align: left;
    float: right;
    margin-top: 60px;
  }

  .deskripsi-ganda::after {
    content: "Pemain akan diberikan 20 soal pilihan ganda, dan kalau bisa diisi dengan benar dan tepat. Anda tidak akan mendapatkan apa-apa, hanya dapat skor yang tinggi.";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: #c5c5c5;
    font-family: "Questrial", sans-serif;
    font-weight: normal;
  }

  .btn-play-this-game {
    background: rgba(97, 134, 148, 0.527);
    border: none;
    border-left: 2px solid rgba(199, 199, 199, 0.404);
    border-right: 2px solid rgba(199, 199, 199, 0.404);
    height: 40px;
    width: 25pc;
    margin-right: 4.4pc;
    margin-top: 30px;
    font-size: 17px;
    color: #c5c5c5;
    cursor: pointer;
  }

  .btn-play-this-game:hover {
    background: rgba(83, 100, 107, 0.527);
  }

  /* Info Permainan Pukul Tikus Tanah */

  #pukul-tikus-tanah {
    position: relative;
    margin-top: 5.4pc;
    margin-bottom: -5.5pc;
    width: 42pc;
  }

  #pukul-tikus-tanah img {
    float: left;
  }

  .deskripsi-tikus::after {
    content: "Pemain disuruh untuk memukul tikus-tikus yang keluar dari dalam tanah. Dapatkan skor tertinggi!";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: #c5c5c5;
    font-family: "Questrial", sans-serif;
    font-weight: normal;
  }

  /* Info Permainan Ular Kelaparan dan Kesepian */

  #snake-xenzia {
    position: relative;
    margin-top: 5.4pc;
    margin-bottom: -5.5pc;
    width: 42pc;
  }

  #snake-xenzia img {
    float: left;
  }

  .deskripsi-ular::after {
    content: "Pemain disuruh untuk mengendalikan ular yang sedang kelaparan itu. Udah kepalaran jomblo lagi~";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: #c5c5c5;
    font-family: "Questrial", sans-serif;
    font-weight: normal;
  }

  /* info.html */

  .container {
    width: 95%;
    height: 105pc;
  }

  /* Button Back to Previous Page */

  .button-back {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    text-align: center;
    margin-top: 45.5%;
    height: 83px;
    z-index: 9999;
  }

  .button-control {
    margin-top: 8px;
  }

  .btn-back {
    height: 40px;
    width: 25pc;
    background: #8b0000;
    border: none;
    color: #c5c5c5;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }

  .btn-back:hover {
    background: #5b0000;
    box-shadow: none;
    color: white;
  }

  /* Tentang */

  .tentang {
    margin-top: 50px;
  }

  .title-tentang-topic::after {
    content: "tentang";
    font-variant: small-caps;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    color: #2e2e2e;
  }

  .bar {
    width: 13%;
    margin-top: 8px;
    border: none;
    border-bottom: 1.5px solid #2e2e2e;
  }

  .content-tentang {
    margin-top: 25px;
    width: 40pc;
  }

  .bar-content {
    border: none;
    border-bottom: 1.5px solid black;
    margin-top: 10px;
    width: 80%;
  }

  .description {
    margin-top: 10px;
  }

  .dpar {
    font-size: 17px;
    font-family: "Lato", sans-serif;
    word-spacing: 2px;
  }

  /* Tentang Pengembang */

  .content-tentang-developer {
    margin-right: auto;
    text-align: left;
    width: 20pc;
  }

  .title-content-tentang-developer::after {
    content: "Tentang Pengembang";
    font-family: "Inconsolata", sans-serif;
    font-size: 25px;
  }

  /* Tentang Permainan */

  .content-tentang-game {
    margin-top: -68px;
    margin-left: auto;
    text-align: left;
    width: 20pc;
  }

  .title-content-tentang-game::after {
    content: "Tentang Permainan";
    font-family: "Inconsolata", sans-serif;
    font-size: 25px;
  }

  .link-more-game {
    color: #333333;
    text-decoration: none;
  }

  .link-more-game:hover {
    text-decoration: underline;
    color: black;
  }

  /* Cara Bermain */

  .tutorial {
    margin-top: 7pc;
  }

  .title-tutorial-topic::after {
    content: "cara bermain";
    font-variant: small-caps;
    color: #2e2e2e;
    font-family: 40px;
    font-family: "Lato", sans-serif;
  }

  .content-tutor {
    margin-top: 40px;
    width: 60pc;
  }

  .in-number {
    text-align: center;
  }

  .step-circle {
    background: #8b0000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
  }

  .bar-tutor {
    border: none;
    border-bottom: 1.5px solid black;
    margin-top: 10px;
    width: 80%;
  }

  .title-cont {
    margin-top: -28px;
    margin-left: 2.5pc;
  }

  /* Step 1 */

  .step1 {
    width: 25pc;
    text-align: left;
    margin-left: 30px;
    margin-right: auto;
  }

  .number-of-step1::after {
    content: "1";
    color: white;
    line-height: 30px;
    font-family: "Roboto Condensed";
  }

  .title-step1::after {
    content: "Akses ke Game KNTL";
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
  }

  /* Step 2 */

  .step2 {
    width: 25pc;
    text-align: left;
    margin-top: -115px;
    margin-right: 30px;
    margin-left: auto;
  }

  .number-of-step2::after {
    content: "2";
    color: white;
    line-height: 30px;
    font-family: "Roboto Condensed";
  }

  .title-step2::after {
    content: "Mulai Bermain";
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
  }

  /* Gambar */

  /* Mobile Version */

  .figure-mobile-ver {
    margin-right: auto;
    margin-left: 30px;
    width: 20pc;
  }

  .figure-mobile-ver img {
    height: 35pc;
  }

  .figure-mobile-ver figcaption {
    font-family: "Gochi Hand", sans-serif;
    margin-top: 15px;
    font-size: 25px;
  }

  /* PC, Laptop, and iPad Version */

  .figure-pc-i-ver {
    margin-left: auto;
    margin-right: 30px;
    width: 32pc;
    margin-top: -35pc;
  }

  .figure-pc-i-ver img {
    height: 20pc;
  }

  .figure-pc-i-ver figcaption {
    font-family: "Gochi Hand", sans-serif;
    margin-top: 15px;
    font-size: 25px;
  }

  /* Step 3 */

  .step3 {
    width: 25pc;
    text-align: left;
    margin-top: 15pc;
    margin-left: 30px;
    margin-right: auto;
  }

  .number-of-step3::after {
    content: "3";
    color: white;
    line-height: 30px;
    font-family: "Roboto Condensed";
  }

  .title-step3::after {
    content: "Pilih Permainan";
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
  }

  /* Step 4 */

  .step4 {
    width: 30pc;
    text-align: left;
    margin-top: -177px;
    margin-right: 10px;
    margin-left: auto;
  }

  .number-of-step4::after {
    content: "4";
    color: white;
    line-height: 30px;
    font-family: "Roboto Condensed";
  }

  .title-step4::after {
    content: "Selamat Bermain, dan Dapatkan Skor Tertinggi!";
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
  }

  /* Tebak-tebakan */

  #tebak-bg {
    background: url(bgTebak2anPCiVer.jpg);
    background-size: cover;
    width: 100%;
  }

  /* Setting */

  #setting {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
  }

  #setting2 {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
  }

  .setting {
    background: whitesmoke;
    height: 20pc;
    margin: auto;
    margin-top: 10pc;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    width: 30pc;
    text-align: center;
  }

  /* Audio */

  .title-audio-set::after {
    content: "Audio Setting";
    font-size: 29px;
    font-family: "Inconsolata", sans-serif;
    margin-top: 10px;
  }

  .bar-set {
    width: 20%;
    margin-top: 7px;
  }

  .button-back-control {
    margin-top: -40px;
    text-align: right;
  }

  .btn-back-set {
    margin-right: 20px;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #626262;
  }

  .btn-back-set:hover {
    color: black;
  }

  .button-audio-control {
    margin-top: 30px;
  }

  .btn-music {
    background: #8b0000;
    border: none;
    height: 40px;
    width: 20pc;
    border-radius: 5px;
    cursor: pointer;
    color: #c5c5c5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 17px;
  }

  .btn-music:hover {
    background: #5b0000;
    box-shadow: none;
    color: white;
  }

  /* Theme */

  .theme {
    margin-top: 40px;
  }

  .title-theme-set::after {
    content: "Theme Setting";
    font-size: 29px;
    font-family: "Inconsolata", sans-serif;
    margin-top: 10px;
  }

  /* Content */

  #button-open-the-pause-menu {
    text-align: center;
    margin-top: 10px;
  }

  .btn-open-pause-menu {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 2px;
    height: 40px;
    width: 10pc;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-open-pause-menu:hover {
    background: rgba(179, 179, 179, 0.5);
  }

  /* Games Area */

  #games-area {
    text-align: center;
    margin-top: 3.5pc;
  }

  .quest-w {
    margin: auto;
    width: 40pc;
  }

  .quest {
    font-family: "Didact Gothic", sans-serif;
  }

  .radio-answers {
    margin-top: 4pc;
    text-align: left;
  }

  .inplab {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 3pc;
  }

  .in {
    line-height: 50px;
  }

  .inr {
    text-align: center;
    width: 50px;
  }

  .inl {
    margin-top: -50px;
  }

  .btn-next-quest {
    background: green;
    border: none;
    color: #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 40pc;
    font-size: 20px;
  }

  .btn-next-quest:hover {
    background: darkgreen;
  }

  /* Box */

  .box-1 {
    background: rgba(165, 165, 165, 0.4);
    margin: auto;
    height: 50px;
    width: 40pc;
  }

  .box-2 {
    background: rgba(165, 165, 165, 0.4);
    margin: auto;
    height: 50px;
    width: 40pc;
  }

  .box-3 {
    background: rgba(165, 165, 165, 0.4);
    margin: auto;
    height: 50px;
    width: 40pc;
  }

  .box-4 {
    background: rgba(165, 165, 165, 0.4);
    margin: auto;
    height: 50px;
    width: 40pc;
  }

  /* Pause Menu */

  #pause-menu {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
  }

  .pause-menu {
    margin: auto;
    background: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
    height: 16.5pc;
    width: 25pc;
    margin-top: 11pc;
    text-align: center;
  }

  .title-pause::after {
    content: "Pause Menu";
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
  }

  .bar-pause {
    width: 30%;
    border-bottom: 1px solid black;
    margin-top: 10px;
  }

  .o {
    width: 10pc;
    margin: auto;
  }

  .icons-pause {
    font-size: 20px;
  }

  .info-menu {
    font-size: 20px;
    margin-left: 10px;
  }

  /* Menu */

  .menu {
    margin-top: 1.5pc;
  }

  .btn-select {
    background: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 20pc;
  }

  .btn-select:hover {
    background: lightgray;
  }

  /* footer */

  footer {
    margin-top: 20pc;
    margin-left: -60px;
    position: relative;
    width: 90%;
    z-index: 1;
  }

  .c {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgb(170, 170, 170);
    font-family: "Inconsolata", sans-serif;
    text-align: left;
  }
}
